*{
  margin: 5px;
  padding: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: beige;
}
.heading{
  width: 100vw;
  height: 60px;
}
.container{
  width: 100vw;
  height: 40px;
  font-size: 15px;

  text-decoration: underline;
}
.error{
  width: 100vw;
  height: 40px;
  color: red;
}
button{
  border: 1px solid white;
  margin-right:10px;
  padding: 5px;
  font-size: 12px;
}
#decrement, #increment{
  background-color: white;
  color: black;
  border: 1px solid black;
}